<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.eatmeserver.login.login.LoginMapper">
    <select id="getUser" resultType="com.example.eatmeserver.login.login.LoginParam">
         SELECT A.USER_NM
              , A.USER_ID
              , A.USER_PW
           FROM TBL_USERS A
          WHERE USER_ID = #{userId}
            AND USER_PW = #{userPw}
    </select>

    <select id="findId" resultType="com.example.eatmeserver.login.login.LoginParam">
        SELECT A.USER_ID
        FROM TBL_USERS A
        WHERE 1=1
        <if test="userEmail != null and userEmail != ''">
            AND A.USER_EMAIL = #{userEmail}
        </if>
        <if test="userPhoneNumber != null and userPhoneNumber != ''">
            AND A.USER_PHONE_NUMBER = #{userPhoneNumber}
        </if>
    </select>

    <select id="findPw" resultType="int">
        SELECT COUNT(A.USER_ID)
          FROM TBL_USERS A
         WHERE A.USER_ID = #{userId}
    </select>

    <update id="resetPw">
        UPDATE TBL_USERS
        SET USER_PW = #{userPw}
        WHERE USER_ID = #{userId}
    </update>

    <select id="selectCorp" resultType="com.example.eatmeserver.login.login.LoginParam">
        SELECT A.CORP_CD
          FROM TBL_CORP A
         WHERE A.USER_ID = #{userId}
    </select>
</mapper>