<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.eatmeserver.main.main.MainPageMapper">
    <select id="selectCorp5" resultType="com.example.eatmeserver.main.main.model.MainPageCorpFlex">
        SELECT A.CORP_CD
             , A.CORP_NM
             , A.CORP_ADDR
          FROM TBL_CORP A
         WHERE A.CORP_ADDR iLIKE '%'||#{userAddr}||'%'
            OR A.CORP_ADDR iLIKE '%'||#{curAddr}||'%'
           AND A.USE_YN = TRUE
         LIMIT 10
    </select>

    <select id="selectItem5" resultType="com.example.eatmeserver.main.main.model.MainPageItemFlex">
        SELECT A.CORP_CD
             , C.CORP_NM
             , C.CORP_ADDR
             , A.ITEM_CD
             , B.ITEM_NM
             , B.ITEM_PRC
             , A.SALE_PRC
             , A.SALE_AMT
             , A.DISCOUNT_RAT
             , A.ITEM_EXPDATE
          FROM TBL_GOODS A
               INNER JOIN TBL_ITEM B
                       ON A.CORP_CD = B.CORP_CD
                      AND A.ITEM_CD = B.ITEM_CD
               INNER JOIN TBL_CORP C
                       ON B.CORP_CD = C.CORP_CD
         WHERE A.ITEM_EXPDATE > CURRENT_TIMESTAMP
           AND C.CORP_ADDR iLIKE '%'||#{curAddr}||'%'
         LIMIT 10
    </select>

</mapper>