<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.eatmeserver.file.FileMapper">
    <insert id="insertImg">
        INSERT INTO TBL_ITEM_IMG (
                                ITEM_CD
                              , CORP_CD
                              , IMG_NM
                              , IMG_LOC
                              , USER_ID
                              , IMG_ID
        )VALUES (
                  #{itemCd}
                , #{corpCd}
                , #{imgNm}
                , #{imgLoc}
                , #{userId}
                , #{imgId}
                )
    </insert>

    <insert id="insertCorpImg">
        INSERT INTO TBL_CORP_IMG (
                      CORP_CD
                    , IMG_NM
                    , IMG_LOC
                    , IMG_ID
        )VALUES (
                  #{corpCd}
                , #{imgNm}
                , #{imgLoc}
                , #{imgId}
                )
    </insert>

    <select id="selectImg" resultType="com.example.eatmeserver.file.FileFlex">
        SELECT A.ITEM_CD
        , A.CORP_CD
        , A.IMG_NM
        , A.IMG_LOC
        , A.USER_ID
        , A.IMG_ID
        FROM TBL_ITEM_IMG A
        WHERE A.CORP_CD = #{corpCd}
          AND A.ITEM_CD = #{itemCd}
    </select>

    <select id="selectCorpImg" resultType="com.example.eatmeserver.file.FileFlex">
        SELECT A.CORP_CD
             , A.IMG_NM
             , A.IMG_LOC
             , A.IMG_ID
        FROM TBL_CORP_IMG A
        WHERE A.CORP_CD = #{corpCd}
    </select>
</mapper>