<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.eatmeserver.user.eco_status.EcoStatusMapper">
    <select id="selectEco" resultType="com.example.eatmeserver.user.eco_status.EcoStatusFlex">
        SELECT A.SALE_AMT
             , A.SALE_PRC
        FROM TBL_GOODS A
    </select>

</mapper>