<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.eatmeserver.user.mypage.MypageMapper">
    <select id="selectUser" resultType="com.example.eatmeserver.user.mypage.MypageFlex">
        SELECT *
          FROM TBL_USERS A
         WHERE A.USER_ID = #{userId}

    </select>


    <update id="updateUser">
        UPDATE TBL_USERS
           SET USER_PW = #{userPw}
             , USER_NICK = #{userNick}
             , USER_ADDR = #{userAddr}
             , USER_EMAIL = #{userEmail}
         WHERE USER_ID = #{userId}
           AND USER_NM = #{userNm}
    </update>


    <delete id="deleteUser">
        DELETE FROM TBL_USERS
         WHERE USER_ID = #{userId}
           AND USER_NM = #{userNm}
    </delete>
</mapper>