<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.eatmeserver.purchases.market_info.MarketInfoMapper">
    <select id="selectCorp" resultType="com.example.eatmeserver.purchases.market_info.MarketInfoFlex">
        SELECT A.CORP_CD
             , A.CORP_NM
             , A.CORP_ADDR
             , A.CORP_DESC
             , A.CORP_PHONE_NUMBER
             , A.CEO_NM
             , A.OPEN_TIME
        FROM TBL_CORP A
        WHERE A.CORP_CD = #{corpCd}
    </select>
</mapper>